ul{
    list-style-type:"►"
}

.main-navigation li {
    display: inline;
    margin-left: 10px;
}

.main-navigation li:hover {
    text-decoration: underline;
}

.main-navigation a{
    text-decoration: none;
    color:#222;
    font-weight: bold;
}

.color-section div{
    display: inline;
}

.color-section{
    width: 150px;
    margin: 50px auto;
}

div.green{
    background-color: green;
}

div.blue{
    background-color: blue;
}

div.red{
    background-color: red;
}

div.purple{
    background-color: purple;
}

div.orange{
    background-color: orange;
}